.progress {
	background: rgba(255, 255, 255, 0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: fixed;
	bottom: 95%;
	left: 50%;
	transform: translate(-50%, 50%);
	padding: 0 5px;
	display: flex;
	height: 20px;
	width: 200px;
}

.progressValue {
	animation: load 3s infinite;
	box-shadow: 0 10px 20px -10px #00ff00;
	border-radius: 50px;
	background: #00ff00;
	height: 20px;
	width: 0;
}

@keyframes load {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
