.progress {
	background: rgba(255, 255, 255, 0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 30%;
	transform: translate(0, -50%);
	transform: rotate(-90deg);
	padding: 0 5px;
	display: flex;
	height: 40px;
	width: 250px;
}

.progressValue {
	animation: load 3s infinite;
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 100px;
	background: #fff;
	height: 30px;
	width: 0;
}

@keyframes load {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
