.todo__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px;
	border: 2px solid #323232;
	border-radius: 5px;

	color: #ffffff;
}

.todo__done {
	border-color: #028502;
}

.todo__active {
	border-color: #ff2f2f;
}

.todoInfo__container {
	padding: 10px;
}

.todo__user {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #323232;

	color: #323232;
	font-weight: 600;
	text-transform: uppercase;
}

.todo__title {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #323232;
	overflow-y: auto;
	overflow-x: hidden;

	color: #323232;
	word-break: break-all;
}

.todoBTN__container {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.todo__BTN {
	width: 100%;
	border: 1px solid #323232;
	outline: none;
	background-color: transparent;
	border-radius: 5px;
	padding: 2px;

	color: #323232;
}

.todo__BTN:hover {
	cursor: pointer;
	background-color: #323232;
	color: #ff6c00;
}

.todo__BTN:active {
	transform: scale(0.9);
}

.todo__BTN:disabled {
	pointer-events: none;
}
