.app {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.todos {
	background-color: #fff9f0;
	border-radius: 5px;
	padding: 0 15px 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;

	margin-bottom: 2px;
}

.todos__title {
	margin: 0;
	color: #323232;
}
